<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/b6b7cf61-ee1b-4864-a3ce-3d4d53bc9f3a/resourceGroups/DefaultResourceGroup-JNB/providers/Microsoft.ApiManagement/service/UrbanStyleApiapi/apis/UrbanStyleApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/b6b7cf61-ee1b-4864-a3ce-3d4d53bc9f3a/resourcegroups/DefaultResourceGroup-JNB/providers/Microsoft.Web/sites/UrbanStyleApi20211025032541</ResourceId>
    <ResourceGroup>DefaultResourceGroup-JNB</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://urbanstyleapi20211025032541.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>88652830-c99a-4a64-b12c-c88e153e67d7</ProjectGuid>
    <PublishUrl>https://urbanstyleapi20211025032541.scm.azurewebsites.net/</PublishUrl>
    <UserName>$UrbanStyleApi20211025032541</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>